argcomplete==1.10.3
asgiref==3.8.1
bcrypt==4.3.0
beautifulsoup4==4.8.2
certifi==2025.6.15
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
compressed-rtf==1.0.7
cryptography==45.0.4
cycler==0.12.1
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2
django-autoslug==1.9.9
django-cities-light==3.10.1
django-ckeditor==5.9.0
django-heroku==0.3.1
django-js-asset==1.2.2
django-taggit==2.0.0
django-user-visit==0.4
django-widget-tweaks==1.5.0
djangorestframework==3.12.4
docx2txt==0.9
ebcdic==1.1.1
extract-msg==0.28.7
fonttools==4.57.0
gunicorn==20.0.4
idna==3.10
IMAPClient==2.1.0
joblib==1.5.1
kiwisolver==1.4.8
lxml==5.3.2
matplotlib==3.5.3
mysql-connector-python==9.2.0
mysqlclient==2.2.7
nltk==3.9.1
numpy==1.26.4
oauthlib==3.3.1
olefile==0.47
packaging==24.2
pandas==2.3.0
pdfminer.six==20250506
pdfplumber==0.11.7
pillow==11.1.0
progressbar2==4.5.0
psycopg2==2.9.10
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.22.0
PyJWT==2.10.1
PyMuPDF==1.26.3
pyparsing==3.2.3
PyPDF2==2.4.2
pypdfium2==4.30.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.1
python-pptx==0.6.23
python-utils==3.9.1
python3-openid==3.2.0
pytz==2025.2
regex==2024.11.6
requests==2.32.4
requests-oauthlib==2.0.0
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.11.2
six==1.12.0
sklearn==0.0
social-auth-app-django==4.0.0
social-auth-core==4.7.0
sortedcontainers==2.4.0
soupsieve==2.6
SpeechRecognition==3.8.1
sqlparse==0.3.1
textract==1.6.5
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.13.1
tzdata==2025.2
tzlocal==5.3.1
ua-parser==0.10.0
Unidecode==1.4.0
urllib3==2.5.0
user-agents==2.2.0
whitenoise==5.0.1
wordcloud==1.8.2.2
xlrd==1.2.0
XlsxWriter==3.2.2
